:root{
    --color-principal:#410101;
    --color-secundario:#27129c;
    --color-terciario:#fff;
    --fuente-principal:Arial;
    --fuente-secundaria:Georgia;
}
body{
    background-color: var(--color-secundario);
}
h3{
    color: var(--color-secundario);
}